{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citylink Public WiFi</title>
    <link rel="stylesheet" href="{% static 'poller/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'poller/poller.css' %}">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Citylink Public Wifi
      </h1>
      <p class="subtitle has-text-danger">
        <strong class="has-text-danger">Error 500</strong> Unable to connect to Internet. Please try again later.
      </p>
    </div>
  </section>
  </body>
</html>