{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CityLink Public WiFi</title>
    <link rel="stylesheet" href="{% static 'poller/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'poller/poller.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="level is-mobile" style="width: 100%;">
                <div class="level-left">
                    <div class="level-item">
                        <div class="navbar-brand">
                            <a class="navbar-item is-size-5" href="/">
                                <strong>CityLink</strong>&nbsp;Public WiFi
                            </a>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a class="navbar-item">
                            <img src="{% static 'poller/nyc.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
            <footer>
                <div class="has-text-centered">
                    <p class="has-text-grey">
                        <br><br>
                        <small>&copy; CityLink 2019. Polls provided by CityPoll. Built with love in NYC.</small>
                    </p>
                </div>
            </footer>
        </div>
    </section>
</body>

</html>