{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CityLink Public WiFi</title>
    <link rel="stylesheet" href="{% static 'poller/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'poller/poller.css' %}">
</head>

<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <strong>CityLink</strong>&nbsp;Public WiFi
                </a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
            <footer>
                <div>
                    <p class="has-text-grey">
                        <br><br>
                        <small>&copy; CityLink 2019. Built with love in NYC.</small>
                    </p>
                </div>
            </footer>
        </div>
    </section>
</body>

</html>